.loader-container {
    position: absolute;
    margin: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    background-color: #242424;
}

.vertical-center {
    position: relative;
    top: 50%;
    margin-top: -137px;
}

.title{
    margin-top: -150px;
}